<%= form_with(model: resultadoconsultum, local: true) do |form| %>
  <% if resultadoconsultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resultadoconsultum.errors.count, "error") %> prohibited this resultadoconsultum from being saved:</h2>

      <ul>
      <% resultadoconsultum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :resultado %>
    <%= form.text_field :resultado, id: :resultadoconsultum_resultado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
