<p id="notice"><%= notice %></p>

<h1>Consulta por CPF</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resultadoconsulta.each do |resultadoconsultum| %>
      <tr>
        <td><%= resultadoconsultum.resultado %></td>
        <td><%= link_to 'Show', resultadoconsultum %></td>
        <td><%= link_to 'Edit', edit_resultadoconsultum_path(resultadoconsultum) %></td>
        <td><%= link_to 'Destroy', resultadoconsultum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Consulta por CPF', new_resultadoconsultum_path %>
